/*Reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html{
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td{
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote{
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after{
    content: "";
    content: none;
}

a img{
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
    display: block;
}
*{
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
    background: rgb(230,231,233);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
    .container{
        width: 80%;
        height: 95%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
        /*Header*/
            .header{
            width: 100%;
            height: 10%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            background: rgb(75,75,77);
            }
                .logo{
                height: 65%;
                flex: 1;
                background: rgb(210,211,213);
                margin-left: 1%;
                }
                .redes{
                flex: 4;
                display: flex;
                justify-content: flex-end;
                }
                    .redes li{
                    background: rgb(230,231,233);
                    width: 2.5em;
                    height: 2.5em;
                    border-radius: 1.25em;
                    margin-right: 1%;
                    }
        /*Navigation*/
        nav{
        width: 100%;
        height: 6%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
            li{
            background: rgb(151,152,154);
            }
        /*Aside*/
        .image-cards{
        width: 100%;
        height: 20%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 9px;
        }       
            .image-cards img{
            width: 100%;
            }
            .image-cards div{
            background:rgb(133,134,136);
            }
        /*Section*/
        .section{
        width: 100%;
        height: 47%;
        background: rgb(133,134,136);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        }
            .section article{
            width: 80%;
            height: 100%;
            background: rgb(75,75,77);
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: center;
            }
        /*Footer*/
        .footer-style{
        width: 100%;
        height: 8%;
        background: rgb(75,75,77);
        }

@media (max-width: 1070px) {
    .redes {
        width: 25%;
    }
}

@media (max-width: 904px){
    .nav-menu {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 700px) {
    .image-cards {
        grid-template-columns: 1fr;
    }
    .image-cards div{
        height: 10vh
    }
    .redes{
        width: 35%;
    }
}

