/*Reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html{
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td{
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote{
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after{
    content: "";
    content: none;
}

a img{
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
    display: block;
}
*{
    box-sizing: border-box;
}
html,body{
    height: calc(100vh - 40px);
}

body{
    background: rgb(230,231,233);
}

.container{
    width: 80%;
    margin: 20px auto;
}

/*Header*/
.header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
    background: rgb(75,75,77);
    justify-content: space-between;
    }
.logo{
    background: rgb(210,211,213);
    height: 50%;
    width: 25%;
    display: flex;
    margin-left: 2%;
}
.redes{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    align-items: center;
}

.redes li{
    font-size: 35px;
    padding: 5% 5%;
}

/*Navigation*/

.nav-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    margin: 2vh auto;
    }
.nav-menu li{
    background: rgb(151,152,154);
    height: 6vh;
    text-decoration: none;
    text-align: center;
    padding: 5% 0px 5% 0px;
}

/*Aside*/
.image-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:2vh auto;
    gap: 9px;
}
.image-cards img{
    width: 100%;
}
.image-cards div{
    background:rgb(133,134,136);
    height: 20vh;
}

/*Section*/
.section{
    background: rgb(133,134,136);
    width: 100%;
    height: 47vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 2vh auto;
}
.section article{
    width: 80%;
    height: 100%;
    background: rgb(75,75,77);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2%;
}

/*Footer*/
.footer-style{
    margin: 1vh 0vh 0vh 0vh;
    height: 8vh;
    background: rgb(75,75,77);
}
@media (max-width: 1070px) {
    .redes {
        width: 25%;
    }
}

@media (max-width: 904px){
    .nav-menu {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 700px) {
    .image-cards {
        grid-template-columns: 1fr;
    }
    .image-cards div{
        height: 10vh
    }
    .redes{
        width: 35%;
    }
}

