/*Reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html{
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td{
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote{
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after{
    content: "";
    content: none;
}

a img{
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
    display: block;
}

*{
    box-sizing: border-box;
}

body{
    background: rgb(244, 245, 219);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
    .container{
        width: 80%;
        height: 95%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        }
        /*Header*/
        .header{
        width: 100%;
        height: 8%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background: url('./img/nube.jpg') no-repeat center center/cover;
        }
            .logo{
            height: 65%;
            flex: 1;
            margin-left: 1%;
            }
            .redes{
            flex: 4;
            display: flex;
            justify-content: flex-end;
            }
                .redes li{
                font-size: 35px;
                margin-right: 2%;
                }
        /*Navigation*/
        .nav-menu{
        height: 5%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        }
            .nav-menu ul{
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: center;
            }
                .nav-menu li{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2px;
                width: 200px;
                flex: 1 1 auto;
                align-content: center;
                background: rgb(35, 104, 155);
                }
                    .nav-menu a{
                    color: rgb(217, 218, 176);
                    font-weight: bold;
                    font-size: 20px;
                    }
        /*Aside*/
        .image-cards{
        width: 100%;
        height: 24%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        }
            .image-cards ul{
                height: 100%;
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-content: center;
                }
                    .image-cards li{
                        height: 100%;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        margin: 2px;
                        flex: 1 1 auto;
                        }
                            .image-cards img{
                            width: 100%;
                            height: 100%;
                            }
                            .image-cards h3{
                            display: flow-root;
                            }
                            .image-cards a{
                            display: flow-root;
                            }
        /*Section*/
        .section{
        background:rgb(217, 218, 176);
        width: 100%;
        height: 47%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        }
            .section article{
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 2%;
            color: black;
            }
            .section h2{
            background: rgba(244,245,219, .8);
            margin: 0.5%;
            font-weight: bold;
            font-size: 19px;
            }
            .section p{
            background: rgba(244,245,219, .9);
            margin: 0.5%;
            text-align: center;
            font-weight: bold;
            }
            .section .article-uno{
            background: url('./img/gastronomiap.jpg') no-repeat center center/cover;
            background-size: 100% 100%;
            margin-top: 1vh;
            display: flex;
            justify-content: flex-end;
            }
            .section .article-dos{
            background: url('./img/nousdestinsp.jpg') no-repeat center center/cover;
            background-size: 100% 100%;
            margin-top: 1vh;
            margin-bottom: 1vh;
            }
            .btn{
            cursor: pointer;
            border: 0;
            padding: 5px 10px;
            margin: 0px 10px 0px 10px;
            color: white;
            background: rgb(72, 126, 149);
            display: inline-block;
            font-weight: bold;
            font-size: 16px;
            border: 1px solid #fff;
            }
        /*Footer*/
        .footer-style{
        height: 8%;
        width: 100%;
        background: rgb(35, 104, 155);
        display: flex;
        flex-direction: row wrap;
        align-items: center;
        justify-content: center;
        }
        .footer-style h5{
        font-weight: bold;
        margin-bottom: 0.2%;
        }
        .footer-style .copyright{
        color: rgb(72, 126, 149);
        font-weight: bold;
        margin-top: 0.5%;
        }

/*Media*/
@media(max-width:1275px){
    .nav-menu{
        height: 12%;
    }
        .nav-menu li{
            height: 50%;
        }
    .section{
        height: 41%;
    }
        .section article{
            height: 100%;
        }

}
@media(max-width: 765px){
    .nav-menu{
        height: 14%;
    }
        .nav-menu li{
            height:33.33%;
        }
    .image-cards{
        height: 22%;
    }
        .image-cards li{
            height: 50%;
        }
    .section{
        height: 37%;
    }
        section article{
            height: 100%;
        }
    }
}
